<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Delights</title>
  {% block headBlock %}
    
  {% endblock %}
</head>
<body>
  <header>
    <h1>Django Delights</h1>
    <nav>
      <a href="">Menu</a>
      <a href="">Ingredients</a>
      <a href="">Purchases</a>
      <a href="">Account</a>
    </nav>    
  </header>
  <h1>Is this working?</h1>
  {% block content %}
  {% endblock %}
  <footer>
    <div>
        <h4>Django Delights</h4>
        <div>
            <p>socials here</p>
        </div>
        <p>Published By Nicolas Reid </p>
        <p>copyright</p>
    </div>
  </footer>
</body>
</html>