{% extends 'inventory/base.html' %}

<!-- Make sure to load static here when ready -->

{% block headBlock %}
<!-- Place CSS link here -->
{% endblock %}

{% block content %}
<!-- Place <main> content here -->
    <main>
        <h2>Home Page</h2>
        <div class="left-side">
            <div class="data-container">
<!--Here there will be data points rendered (from methods) that are relevant to the goals of the company ie: total revenue for the past day, etc -->
            </div>
        </div>
        <div class="right-side">
            <div class="links-container">
                <a href="{% url 'ingredientcreate'%}">Add Ingredient</a>
                <a href="{% url 'menucreate' %}">Add Menu Item</a>
                <a href="{% url 'recipecreate'%}">Add Recipe</a>
                <a href="{% url 'purchasecreate'%}">Add Purchase</a>
            </div>
        </div>
    </main>
{% endblock %}