{% extends 'inventory/base.html' %}

<!-- load static here when you have a css file-->

{% block blockHead %}
<!-- Place css link here when ready-->
{% endblock %}


{% block content %}
<!-- Context Object is "ingredient"-->
<main>
    <div>
        <h2>Ingredient Name</h2>
        <p>Ingredient Info 1</p>
        <p>Ingredient Info 2</p>
        <p>Ingredient Info 3</p>
    </div>
    <div>
        <button>Back</button>
        <button>Edit</button>
        <button>Delete</button>
    </div>
</main>

{% endblock %}