{% extends 'inventory/base.html' %}

<!-- load static here when ready-->

{% block blockHead %}
<!-- add link with css file here when ready -->
{% endblock %}

{% block content %}
<main>
    <div class="left-side">
        <h2>Ingredient List</h2>
        <div class="list-container">
            <!-- example Ingredient -->
            <div>
                <h3>Ingredient Name</h3>
                <div class="prop-container">
                    <p>price per unit</p>
                    <p>available quantity</p>
                    <p>quantity per purchase</p>
                </div>
                <div class="buttons">
                    <a>Edit</a>
                    <a>Delete</a>
                </div>
            </div>
            {% for ingredient in ingredient_list %}
                <a href="{% url 'ingredient' pk=ingredient.name %}">
                <div>
                    <h3>{{ ingredient.name }}</h3>
                    <div>
                        <p>{{ ingredient.price_per_unit }}/{{ ingredient.unit }}</p>
                        <p>{{ ingredient.available }}</p>
                        <p>{{ ingredient.quantity_per_purchase }}</p>
                    </div>
                    <div class="buttons">
                        <a>Edit</a>
                        <a>Delete</a>
                    </div>
                </div>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="right-side">
        <div class="method-buttons">
            <a>Add Ingredient</a>
            <a>Other Method</a>
            <a>Other Method</a>
        </div>
    </div>
</main>
{% endblock %}
