{% extends 'inventory/base.html' %}

<!-- load static here when ready -->

{% block headBlock %}
<!-- place link to CSS here -->
{% endblock %}


{% block content %}
<main>
    <h2>Block Content</h2>
    <div class="left-side">
        <div class="img-container">
            <img />
        </div>
    </div>
    <div class="right-side">
        <div class="button-container">
            <a href="">Menu</a>
            <a href="">Menu</a>
            <a href="">Menu</a>
        </div>
    </div>
</main>

{% endblock %}