{% extends 'inventory/base.html' %}

<!-- load static here when ready-->

{% block blockHead %}
<!-- add link with css file here when ready -->
{% endblock %}

{% block content %}
<main>
    <div class="left-side">
        <h2>Purchase List</h2>
        <div class="list-container">
            <!-- example Ingredient -->
            <div>
                <h3>Purchase Name</h3>
                <div class="prop-container">
                    <p>price per unit</p>
                    <p>available quantity</p>
                    <p>quantity per purchase</p>
                </div>
                <div class="buttons">
                    <a>Edit</a>
                    <a>Delete</a>
                </div>
            </div>
            {% for purchase in purchase_list %}
                <a href="{% url 'purchase' pk=purchase.id %}">
                <div>
                    <h3>{{ purchase.purchase_time }}</h3>
                    <div>
                        <p>{{ purchase.menu_items }}</p>
                        <p>{{ purchase.total_price }}</p>
                    </div>
                    <div class="buttons">
                        <a>Edit</a>
                        <a>Delete</a>
                    </div>
                </div>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="right-side">
        <div class="method-buttons">
            <a>Add Ingredient</a>
            <a>Other Method</a>
            <a>Other Method</a>
        </div>
    </div>
</main>
{% endblock %}
